body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.image-with-text {
    position: relative;
    height: 100vh;
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(15, 15, 15);
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 50px 0;
}


.text-overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
}

ul#carreras-list {
    list-style: none;
    padding: 0;
    margin-top: 260px; /* Aumenta este valor para mover los enlaces hacia abajo */
    text-align: left;
}

ul#carreras-list li {
    margin-bottom: 40px;
}

ul#carreras-list a {
    font-size: 18px; /* Ajusta este valor para cambiar el tamaño del texto */
    color: #fafbfc; /* Cambia este valor al color que desees */
}

#imagen h2 {
    font-size: 36px;
}



